<% if @assignment.label_data %>
	<script>
		let labelData = JSON.parse(<%= raw @assignment.label_data.to_json %>);
	</script>
<% end %>

<div class="mdl-color--deep-purple-100 content-width">
<%= form_for @assignment do |f| %>
	<div class="center fit-content padding-1">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label field">
	      <%= f.text_field :name, placeholder: @assignment.name, autofocus: true, class: "mdl-textfield__input" %>
	      <%= f.label :name, class: "mdl-textfield__label" %>
	    </div>
	</div>

	<div id="image-wrapper" >
		<div id="new-div-wrapper"></div>
		<div id="assignment-divider-wrapper">
			<% 1000.times do |i| %>
				<div id="d<%= i %>" class="assignment-divider"></div>
			<% end %>
		</div>
		<img id="assignment-image" src="<%= @assignment.image.url(:regular) %>">
	</div>
	<%= f.hidden_field :label_data, id: "labelData" %>
	<div class="padding-1 center fit-content">
	<%= f.submit "Submit", id: "assignment-submit-button", class: "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" %>
	</div>
<% end %>
