<script>
	let labelData = JSON.parse(<%= raw @assignment.label_data.to_json %>);
</script>


<%= form_tag enter_answers_path do |f| %>
	<%= @assignment.name %>
	<input name="name" placeholder="Write your name here">
	<div id="image-wrapper" >
		<div id="auto-label-wrapper">
			<div id="new-div-wrapper"></div>
			<div id="active-assignment-divider-wrapper">
				<% 1000.times do |i| %>
					<div id="d<%= i %>" class="active-assignment-divider"></div>
				<% end %>
			</div>
			<img id="assignment-image" src="<%= @assignment.image.url(:regular) %>">
		</div>
	</div>
	<button id="result-submit-button" >Submit!</button>
<% end %>
<div style="height: 200px"></div>