<div class="mdl-color--deep-purple-100">
	<h3 class="grid-header">My Courses:</h3>
	<div class="mdl-grid mdl-grid--custom-width">
		<% current_user.courses_taken.each do |c| %>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
				<div class="mdl-card mdl-color--deep-purple mdl-shadow--2dp">
				  <div class="mdl-card__title">
				    <h4 class='mdl-color-text--blue-grey-100'>
				      Course:<br>
				      <%= c.name %><br>
				      Instructor:<br>
				      <%= c.instructor.username %>
				    </h4>
				  </div>
				  <div class="mdl-card__actions mdl-card--border">

				    <a href="<%= course_path(c) %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-width-2">
				    	<i class="material-icons mdl-color-text--blue-grey-100">find_in_page</i>
				    </a>

				    <%= link_to raw(
		            "<i class='material-icons mdl-color-text--blue-grey-100'>delete_forever</i>"
		            ), unenroll_path(c), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-width-2 remote-delete-card", method: 'post', remote: true %>

				  </div>
				</div>
			</div>
		<% end %>
		<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
			<div class="mdl-card mdl-shadow--2dp mdl-color--blue-grey">
			  <div class="mdl-card__title">
			    <h4 class="center mdl-color-text--deep-purple">
			      Enroll in New Course
			    </h4>
			  </div>
			  <div class="mdl-card__actions mdl-card--border">
			  	<br/>
			    <a href="<%= courses_path %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-center">
			    	<i class="material-icons md-48 mdl-color-text--deep-purple">note_add</i>
			    </a>

			    
			  </div>
			</div>
		</div>
	</div> 
</div>

<div class="mdl-color--blue-grey-100">
	<h3 class="grid-header">My Assignments:</h3>
	<div class="mdl-grid mdl-grid--custom-width">
		<% current_user.courses_taken.each do |c| %>
			<% c.assignments.each do |a| %>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
				<div class="mdl-card mdl-color--blue-grey mdl-shadow--2dp">
				  <div class="mdl-card__title">
				    <h4 class='mdl-color-text--deep-purple-100'>
				      Course:<br>
				      <%= c.name %><br>
				      Assignment:<br>
				      <%= a.name %>
				    </h4>
				  </div>
				  <div class="mdl-card__actions mdl-card--border">

				    <a href="<%= take_assignment_path(a) %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-width-2">
				    	<i class="material-icons mdl-color-text--deep-purple-100">assignment</i>
				    </a>
				    <a href="<%= course_student_path(c, current_user) %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-width-2">
				    	<i class="material-icons mdl-color-text--deep-purple-100">find_in_page</i>
				    </a>

				  </div>
				</div>
			</div>
			<% end %>
		<% end %>
		
	</div> 
</div>