<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <% if current_user.is_teacher? %>
      <a href="#instructor-panel" class="mdl-tabs__tab <%= @teacherPanel %>">Instructor View</a>
    <% end %>
    <% if current_user.is_student? %>
      <a href="#student-panel" class="mdl-tabs__tab <%= @studentPanel %>">Student View</a>
    <% end %>
      <a href="#account-panel" class="mdl-tabs__tab <%= @accountPanel %>">My Account</a>
  </div>

  <% if current_user.is_teacher? %>
    <div class="mdl-tabs__panel is-active content-width <%= @teacherPanel %>" id="instructor-panel">

      <%= render '/courses/course_card_display' %>

      <%= render '/assignments/assignment_card_display' %>

    </div>
  <% end %>
  <% if current_user.is_student? %>
    <div class="mdl-tabs__panel content-width <%= @studentPanel %>" id="student-panel">
      <%= render partial: 'student' %>
    </div>
  <% end %>
  <div class="mdl-tabs__panel content-width mdl-color--blue-grey-100 padding-1 <%= @accountPanel %>" id="account-panel">
    <%= render partial: 'account' %>
  </div>
</div>



