<div class="mdl-color--deep-purple-100">
	<h3 class='grid-header'>Students in this course:</h3>
	<div class="mdl-grid mdl-grid--custom-width">
		<% @course.students.each do |c| %>
			<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
				<div class="mdl-card mdl-color--deep-purple mdl-shadow--2dp">
				  <div class="mdl-card__title">
				    <h4 class='mdl-color-text--blue-grey-100'>
				      Student:<br>
				      <%= c.username %>
				      <%= c.email %>
				    </h4>
				  </div>
				  <div class="mdl-card__actions mdl-card--border">

				    <a href="<%= course_path(c) %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-width">
				    	<i class="material-icons mdl-color-text--blue-grey-100">find_in_page</i>
				    </a>
				    <a href="<%= edit_course_path(c) %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-width">
				    	<i class="material-icons mdl-color-text--blue-grey-100">build</i>
				    </a>
				    <a href="<%= delete_course_path(c) %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-width">
				    	<i class="material-icons mdl-color-text--blue-grey-100">delete_forever</i>
				    </a>

				  </div>
				</div>
			</div>
		<% end %>
		<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
			<div class="mdl-card mdl-shadow--2dp mdl-color--blue-grey">
			  <div class="mdl-card__title">
			    <h4 class="center mdl-color-text--deep-purple">
			      Add New Student
			    </h4>
			  </div>
			  <div class="mdl-card__actions mdl-card--border">
			  	<br/>
			    <a href="<%= users_path( showStudents: "is-active") %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-center">
			    	<i class="material-icons md-48 mdl-color-text--deep-purple">person_add</i>
			    </a>

			    
			  </div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
			<div class="mdl-card mdl-shadow--2dp mdl-color--blue-grey">
			  <div class="mdl-card__title">
			    <h4 class="center mdl-color-text--deep-purple">
			      Invite New Student Through Email
			    </h4>
			  </div>
			  <div class="mdl-card__actions mdl-card--border">
			  	<br/>
			    <a href="<%= new_course_path %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-center">
			    	<i class="material-icons md-48 mdl-color-text--deep-purple">person_add</i>
			    </a>

			    
			  </div>
			</div>
		</div>
	</div> 
</div>