<% if @isCourseInstructor %>
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	  <div class="mdl-tabs__tab-bar">
	      <a href="#instructor-panel" class="mdl-tabs__tab <%= @edit %>">Edit Course</a>
	      <a href="#student-panel" class="mdl-tabs__tab <%= @show %>">Student View</a>
	  </div>

	  <div class="mdl-tabs__panel content-width <%= @edit %>" id="instructor-panel">
	
		<%= render 'instructor_view' %>

	  </div>
	  <div class="mdl-tabs__panel content-width <%= @show %>" id="student-panel">
	  	<%= render 'student_view' %>
	  </div>
	</div>
<% else %>
	<div class="mdl-tabs__panel content-width">
		<%= render 'student_view' %>
	</div>
<% end %>