<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_purple.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout-icon"></div>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout__title"><a href="<%= root_path %>" class="mdl-color-text--white mdl-link--no-styling">discendo</a></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <% if current_user %>
            <%= link_to "Log Out", destroy_user_session_path, class: "mdl-navigation__link", method: :delete %>
          <% else %>
            <%= link_to "Log In", new_user_session_path, class: "mdl-navigation__link", method: :get %>
          <% end %>
        </nav>
      </div>
    </header>
    <% if user_signed_in? %>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout__title"><a href="<%= root_path %>" class="mdl-color-text--grey-600 mdl-link--no-styling">discendo</a></span>
        <nav class="mdl-navigation">
          <% if current_user.is_student? || current_user.is_teacher? %>
            <%= render '/layouts/navigation_drawer_submenus' %>
          <% end %>
          <a class="mdl-navigation__link" href="<%= edit_user_registration_path %>">My Account</a>

        </nav>
      </div>
    <% end %>
    <main class="mdl-layout__content">
    	<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </div>




  <% if @isCourseInstructor %>    
    <%= render 'courses/assignment_selection_dialog' %>
  <% end %>
  

  <% if @addCourseStudents %>
    <%= render 'users/student_add_dialog' %>
  <% end %>

  <% if @addCourse %>
    <%= render 'users/instructor_add_dialog' %>
  <% end %>





  </body>
</html>
